/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Initial Structure */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: #fffefc;
  color: #000;
}

a {
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
}

a:hover {
  color: #32343a;
}

/* Navbar */

.nav-container {
  position: sticky;
  top: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-animation: animate_bg 6s;
  animation: animate_bg 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes animate_bg {
  0% {background: #9999CC;}
  25% {background: #FFFFCC;}
  75% {background: #99cc99;}
  100% {background: #cccc99;}
}

@-webkit-keyframes animate_bg {
  0% {background: #9999CC;}
  25% {background: #FFFFCC;}
  75% {background: #99cc99;}
  100% {background: #cccc99;}
}

.navbar-brand {
  font-weight: bold;
  font-size: 26px;
  color: #000;
}

.navigation-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation-link:hover, .mylogo:hover {
  opacity: 0.64;
  transform: skew(3deg, 3deg);
  text-transform: capitalize;
  white-space: normal;
}

/* Hero */

/* Portfolio */

/* Work */

/* Interests */