/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Structure */
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: #fffefc;
  color: #000;
}

.container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}



a {
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
}

a:hover {
  color: #32343a;
}

.section-spacing {
    margin-top: 10rem;
    margin-bottom: 10rem;
    padding-bottom: 10rem;
}

@media screen and (max-width: 767px) {
  .container-fluid {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 595px) {
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .col-12 {
    padding-right: 0;
    padding-left: 0 !important;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

/* Navbar */

.nav-container {
  position: sticky;
  top: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 80px;
  z-index: 10;
  background-color: #E4FDFC;
}

.navbar-brand {
  font-weight: bold;
  font-size: 26px;
  color: #000;
}

.navigation-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-left: 10px;
  margin-right: 10px;
}

.navigation-link:hover, .mylogo:hover {
  opacity: 0.64;
  transform: skew(3deg, 3deg);
  text-transform: capitalize;
  white-space: normal;
}

@media screen and (max-width: 595px) {
  .nav-container {
    padding: 20px;
  }

  .navigation-link {
    margin-left:0;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hero */

.bgColor {
  background-color: #E4FDFC;
}

.hero-container {
  height: 500px;
  padding-top: 12.5rem;
  padding-bottom: 10rem;
}

.heading {
  max-width: 1280px;
}


.heading-xl {
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: -0.06em;
}

@media screen and (max-width: 767px){
  .hero-container {
    padding-top: 200px;
    justify-content: flex-start !important;
  }
}

/* Media Queries */
@media screen and (max-width: 595px){
  .heading-xl {
    font-size: 2.5rem;
  }
}

/* Intro */

.intro-container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media screen and (max-width: 767px) {
  .intro-container {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.intro-wrapper {
  max-width: 1280px;
}

.intro-text {
  font-size: 2rem;
  font-weight: bold;
}

.borderBot {
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

@media screen and (max-width: 595px){
  .intro-text {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 767px){
  .intro-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* Portfolio */

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
  border-top: 2px solid #000;
  font-size: 3.5rem;
  line-height: 1.25;
  font-weight: bold;
}

.project-wrapper:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition-duration: 0.5s;
}

.spacing {
  padding-top: 3rem;
}

.featured-spacer {
  margin-bottom: 5rem;
}

@media screen and (min-width: 767px) {
  .query-hide {
    display: none;
  }
}

.project-title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 0.35;
  color: #000;
}

.project-description {
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 0;
  letter-spacing: 0.4px;
  color: #000;
}

.project-side {
  padding-top: calc((2/3)*100%);
  border-radius: 10px;
}

.project-featured {
  background: url('images/project3.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding-top: calc((2/3)*100%);
}

.project1 {
  background: url('images/project1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.project2 {
  background: url('images/project2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.project4 {
  background: url('images/project4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.project5 {
  background: url('images/project5.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 595px) {
  #portfolio {
    width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
  }
}


/* About */

.inner-container {
  font-size: 1.7rem;
  font-weight: 400;
}

.side-container {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: .2px;
}

@media screen and (max-width: 595px) {
  .inner-container {
    font-size: 1.4rem;
  }

  .side-container {
    font-size: 1.1rem;
  }
}

.side-container:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {

  .inner-container {
    margin-bottom: 48px;
  }
}

.effects {
  font-weight: bold;
  box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 12%);
}

/* Education  */

.heading-l {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -0.06em;
}

@media screen and (max-width: 595px) {
  .heading-l {
    font-size: 1.7rem;
  }
}

/* Contact me */

.footer-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
  font-size: 3.5rem;
  line-height: 1.25;
  font-weight: bold;
}

.footer-spacing {
  margin-top: 10rem;
  padding-bottom: 10rem;
}

@media screen and (max-width: 767px) {
  .footer-spacing {
    margin-top: 100px;
  }
  
  .footer-title {
    padding-top: 0;
  }
}

.email-btn {
  padding: 1.125rem 2rem;
  border-radius: 0.375rem;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

.email-btn:hover {
  opacity: 0.8;
  transform: translate(0, -2px);
  color: #fffefc;
}




